<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update Cat!" : "Create Cat!" %>

<h1> <%= submit_text %> </h1>

<form action="<%= action_url %>" method="post">
  <input type='hidden' name='_method' value='<%= form_method %>'>
  <label for="cat_name">Name: </label>
  <input  type="text"
          name="cat[name]"
          id="cat_name"
          value="<%= @cat.name %>"><br><br>

  <label>Sex:</label><br>
  <input  type="radio"
          name="cat[sex]"
          id="sex_female"
          value="F"
          <%= "checked" if @cat.sex == "F" %> >
  <label for="sex_female">Female</label><br>

  <input  type="radio"
          name="cat[sex]"
          id="sex_male"
          value="M"
          <%= "checked" if @cat.sex == "M" %> >
  <label for="sex_male">Male</label><br><br>

  <label for='cat_color'>Color</label>
  <select name="cat[color]" id="cat_color">
    <option></option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>"
              <%= "selected" if @cat.color == color %> >
              <%= color.capitalize %>
      </option>
    <% end %>
  </select><br><br>

  <label for='cat_birth_date'>Birthday</label><br>
  <input  type="date"
          name="cat[birth_date]"
          id="cat_birth_date"
          value="<%= @cat.birth_date %>">

  <br><br>

  <label for='cat_description'>Description</label><br>
  <textarea name='cat[description]'
            id='cat_description'><%= @cat.description %></textarea>

  <br><br>
  <input type='submit' value='<%= submit_text %>'>

</form>
